<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>I</key>
      <integer>-10</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-50</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>h</key>
      <integer>-10</integer>
      <key>period</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-30</integer>
      <key>public.kern2.j</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-70</integer>
    </dict>
    <key>Ohorn</key>
    <dict>
      <key>h</key>
      <integer>-5</integer>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>period</key>
      <integer>-70</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-50</integer>
      <key>public.kern2.i</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>period</key>
      <integer>-70</integer>
      <key>quotedblleft</key>
      <integer>-20</integer>
    </dict>
    <key>Uhorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-25</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>Z</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>braceright</key>
      <integer>30</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Z</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>30</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>Z</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>iinvertedbreve</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-10</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>g</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>iinvertedbreve</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-40</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-30</integer>
      <key>question</key>
      <integer>0</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>eth</key>
      <integer>-50</integer>
      <key>period</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>period</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>period</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>Z</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>Y</key>
      <integer>-40</integer>
      <key>Z</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>parenright</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>Z</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>Z</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
  </dict>
</plist>
