<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.colorLayers</key>
    <dict>
      <key>A</key>
      <dict>
        <key>Format</key>
        <integer>1</integer>
        <key>Layers</key>
        <array>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color0</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>124.7516</real>
              <key>x1</key>
              <real>189.3796</real>
              <key>x2</key>
              <real>755.5446</real>
              <key>y0</key>
              <real>23.871</real>
              <key>y1</key>
              <real>654.664</real>
              <key>y2</key>
              <real>-40.75700000000002</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color1</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>561.1107</real>
              <key>x1</key>
              <real>262.3667</real>
              <key>x2</key>
              <real>487.1811</real>
              <key>y0</key>
              <real>285.1876</real>
              <key>y1</key>
              <real>211.258</real>
              <key>y2</key>
              <real>583.9315999999999</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color2</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>697.4672</real>
              <key>x1</key>
              <real>722.9974</real>
              <key>x2</key>
              <real>189.0356</real>
              <key>y0</key>
              <real>515.7956</real>
              <key>y1</key>
              <real>7.364</real>
              <key>y2</key>
              <real>490.2654000000001</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color3</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>294.7156</real>
              <key>x1</key>
              <real>745.2282</real>
              <key>x2</key>
              <real>243.63400000000001</real>
              <key>y0</key>
              <real>623.1856</real>
              <key>y1</key>
              <real>572.104</real>
              <key>y2</key>
              <real>172.673</real>
            </dict>
          </dict>
        </array>
      </dict>
    </dict>
    <key>com.github.googlei18n.ufo2ft.colorPalettes</key>
    <array>
      <array>
        <array>
          <real>1.0</real>
          <real>0.0</real>
          <real>0.0</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>1.0</real>
        </array>
      </array>
    </array>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3133</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Propagate Anchors</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.vendorID</key>
    <string>STAI</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>6</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
    </array>
  </dict>
</plist>
