<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.colorLayers</key>
    <dict>
      <key>A</key>
      <dict>
        <key>Format</key>
        <integer>1</integer>
        <key>Layers</key>
        <array>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color0</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>67.6184</real>
              <key>x1</key>
              <real>65.1776</real>
              <key>x2</key>
              <real>687.8883999999999</real>
              <key>y0</key>
              <real>55.78999999999999</real>
              <key>y1</key>
              <real>676.06</real>
              <key>y2</key>
              <real>58.23079999999999</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color1</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>86.9099</real>
              <key>x1</key>
              <real>203.9554</real>
              <key>x2</key>
              <real>88.70510000000002</real>
              <key>y0</key>
              <real>688.312</real>
              <key>y1</key>
              <real>690.1072</real>
              <key>y2</key>
              <real>571.2665</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color2</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <real>0.50056</real>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>188.7928</real>
              <key>x1</key>
              <real>226.1968</real>
              <key>x2</key>
              <real>-401.3552</real>
              <key>y0</key>
              <real>599.8148</real>
              <key>y1</key>
              <real>9.6668</real>
              <key>y2</key>
              <real>562.4108</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color3</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>85.2467</real>
              <key>x1</key>
              <real>182.6482</real>
              <key>x2</key>
              <real>87.04189999999997</real>
              <key>y0</key>
              <real>365.312</real>
              <key>y1</key>
              <real>367.1072</real>
              <key>y2</key>
              <real>267.9105</real>
            </dict>
          </dict>
        </array>
      </dict>
      <key>B</key>
      <dict>
        <key>Format</key>
        <integer>1</integer>
        <key>Layers</key>
        <array>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>B</string>
            <key>Paint</key>
            <dict>
              <key>Alpha</key>
              <real>1.0</real>
              <key>Format</key>
              <integer>2</integer>
              <key>PaletteIndex</key>
              <integer>3</integer>
            </dict>
          </dict>
        </array>
      </dict>
    </dict>
    <key>com.github.googlei18n.ufo2ft.colorPalettes</key>
    <array>
      <array>
        <array>
          <real>1.0</real>
          <real>0.0</real>
          <real>0.0</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.0</real>
          <real>0.49411764705882355</real>
          <real>0.4823529411764706</real>
          <real>1.0</real>
        </array>
      </array>
    </array>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3108</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Propagate Anchors</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.vendorID</key>
    <string>STAI</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
    </array>
  </dict>
</plist>
