<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>public.kern2.z</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.w</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
  </dict>
</plist>
