<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>W</key>
      <integer>-85</integer>
      <key>X</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-120</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>W</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>-40</integer>
      <key>itilde</key>
      <integer>10</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-115</integer>
      <key>N</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.j</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-115</integer>
      <key>public.kern2.u</key>
      <integer>-115</integer>
      <key>s</key>
      <integer>-130</integer>
      <key>v</key>
      <integer>-90</integer>
      <key>w</key>
      <integer>-90</integer>
      <key>x</key>
      <integer>-140</integer>
      <key>z</key>
      <integer>-130</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>itilde</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>hbar</key>
      <integer>16</integer>
    </dict>
    <key>Hbar</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>z</key>
      <integer>-80</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>U</key>
      <integer>-70</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
      <key>w</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-60</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-200</integer>
      <key>Y</key>
      <integer>-140</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>U</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-100</integer>
      <key>itilde</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-90</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>Uhorn</key>
    <dict>
      <key>A</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-90</integer>
      <key>public.kern2.n</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-115</integer>
      <key>public.kern2.u</key>
      <integer>-115</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>-50</integer>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-80</integer>
      <key>w</key>
      <integer>-70</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-110</integer>
      <key>N</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-120</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-95</integer>
      <key>public.kern2.o</key>
      <integer>-130</integer>
      <key>public.kern2.s</key>
      <integer>-140</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
      <key>public.kern2.y</key>
      <integer>-100</integer>
      <key>public.kern2.z</key>
      <integer>-150</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-25</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>S</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-70</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-180</integer>
      <key>public.kern2.i</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-180</integer>
      <key>public.kern2.o</key>
      <integer>-180</integer>
      <key>public.kern2.u</key>
      <integer>-180</integer>
      <key>public.kern2.v</key>
      <integer>-180</integer>
      <key>public.kern2.y</key>
      <integer>-180</integer>
      <key>public.kern2.z</key>
      <integer>-180</integer>
      <key>question</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-120</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Y</key>
      <integer>-120</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>franc</key>
    <dict>
      <key>seven</key>
      <integer>55</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>100</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>U</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>Y</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>ohorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>U</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>s</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.y</key>
      <integer>-70</integer>
      <key>t</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>S</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-100</integer>
      <key>question</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>V</key>
      <integer>-70</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>hbar</key>
      <integer>16</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>N</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-80</integer>
      <key>z</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>hbar</key>
      <integer>16</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>Hbar</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>Hbar</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>X</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>U</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>Y</key>
      <integer>-130</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>X</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-130</integer>
      <key>x</key>
      <integer>-70</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-90</integer>
    </dict>
    <key>uhorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>Y</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-70</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.u</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
