<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-7</integer>
      <key>public.kern2.V</key>
      <integer>-52</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-57</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
      <key>public.kern2.o</key>
      <integer>-7</integer>
      <key>public.kern2.u</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-47</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.l</key>
      <integer>-12</integer>
      <key>public.kern2.n</key>
      <integer>-24</integer>
      <key>public.kern2.o</key>
      <integer>-24</integer>
      <key>public.kern2.v</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-4</integer>
      <key>public.kern2.V</key>
      <integer>-13</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-72</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-7</integer>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.T</key>
      <integer>-9</integer>
      <key>public.kern2.g</key>
      <integer>-17</integer>
      <key>public.kern2.j</key>
      <integer>-25</integer>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-7</integer>
      <key>public.kern2.s</key>
      <integer>-34</integer>
      <key>public.kern2.t</key>
      <integer>-13</integer>
      <key>public.kern2.u</key>
      <integer>-94</integer>
      <key>public.kern2.v</key>
      <integer>-34</integer>
      <key>public.kern2.w</key>
      <integer>-29</integer>
      <key>public.kern2.y</key>
      <integer>-127</integer>
      <key>public.kern2.z</key>
      <integer>-69</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-53</integer>
      <key>public.kern2.O</key>
      <integer>-53</integer>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-47</integer>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.g</key>
      <integer>-39</integer>
      <key>public.kern2.n</key>
      <integer>-39</integer>
      <key>public.kern2.o</key>
      <integer>-39</integer>
      <key>public.kern2.s</key>
      <integer>-52</integer>
      <key>public.kern2.u</key>
      <integer>-63</integer>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.w</key>
      <integer>-18</integer>
      <key>public.kern2.y</key>
      <integer>-74</integer>
      <key>public.kern2.z</key>
      <integer>-59</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-47</integer>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <integer>-47</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.V</key>
      <integer>-39</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-42</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.Y</key>
      <integer>-93</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-7</integer>
      <key>public.kern2.Y</key>
      <integer>-47</integer>
      <key>public.kern2.j</key>
      <integer>59</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-9</integer>
      <key>public.kern2.Y</key>
      <integer>-22</integer>
      <key>public.kern2.j</key>
      <integer>82</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-57</integer>
      <key>public.kern2.Y</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-59</integer>
      <key>public.kern2.Y</key>
      <integer>-87</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-39</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.V</key>
      <integer>-39</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-18</integer>
      <key>public.kern2.Y</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-77</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-7</integer>
      <key>public.kern2.T</key>
      <integer>-44</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.Y</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.uhorn</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-22</integer>
      <key>public.kern2.n</key>
      <integer>-42</integer>
      <key>public.kern2.o</key>
      <integer>-42</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.V</key>
      <integer>-18</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-59</integer>
      <key>public.kern2.j</key>
      <integer>82</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-34</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
    </dict>
  </dict>
</plist>
