<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.colorLayers</key>
    <dict>
      <key>A</key>
      <dict>
        <key>Format</key>
        <integer>1</integer>
        <key>Layers</key>
        <array>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color0</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>99.619</real>
              <key>x1</key>
              <real>140.389</real>
              <key>x2</key>
              <real>720.0428</real>
              <key>y0</key>
              <real>23.4786</real>
              <key>y1</key>
              <real>643.9024000000001</real>
              <key>y2</key>
              <real>-17.29140000000001</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color1</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>404.2579</real>
              <key>x1</key>
              <real>187.6899</real>
              <key>x2</key>
              <real>357.5083</real>
              <key>y0</key>
              <real>318.2951</real>
              <key>y1</key>
              <real>271.5455</real>
              <key>y2</key>
              <real>534.8631</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color2</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>493.748</real>
              <key>x1</key>
              <real>509.8535</real>
              <key>x2</key>
              <real>-75.57940000000002</real>
              <key>y0</key>
              <real>577.5734</real>
              <key>y1</key>
              <real>8.246</real>
              <key>y2</key>
              <real>561.4679</real>
            </dict>
          </dict>
          <dict>
            <key>Format</key>
            <integer>10</integer>
            <key>Glyph</key>
            <string>A.color3</string>
            <key>Paint</key>
            <dict>
              <key>ColorLine</key>
              <dict>
                <key>ColorStop</key>
                <array>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>1</integer>
                    <key>StopOffset</key>
                    <integer>0</integer>
                  </dict>
                  <dict>
                    <key>Alpha</key>
                    <real>1.0</real>
                    <key>PaletteIndex</key>
                    <integer>2</integer>
                    <key>StopOffset</key>
                    <integer>1</integer>
                  </dict>
                </array>
                <key>Extend</key>
                <string>pad</string>
              </dict>
              <key>Format</key>
              <integer>4</integer>
              <key>x0</key>
              <real>209.5056</real>
              <key>x1</key>
              <real>519.9832</real>
              <key>x2</key>
              <real>177.20399999999998</real>
              <key>y0</key>
              <real>650.4556</real>
              <key>y1</key>
              <real>618.154</real>
              <key>y2</key>
              <real>339.97799999999995</real>
            </dict>
          </dict>
        </array>
      </dict>
    </dict>
    <key>com.github.googlei18n.ufo2ft.colorPalettes</key>
    <array>
      <array>
        <array>
          <real>1.0</real>
          <real>0.0</real>
          <real>0.0</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>0.25098039215686274</real>
          <real>1.0</real>
        </array>
        <array>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>0.7490196078431373</real>
          <real>1.0</real>
        </array>
      </array>
    </array>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3133</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Propagate Anchors</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.vendorID</key>
    <string>STAI</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>SemiBold</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>600</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>600</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
    </array>
  </dict>
</plist>
