<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-2</integer>
      <key>public.kern2.V</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-3</integer>
      <key>public.kern2.T</key>
      <integer>-3</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-2</integer>
      <key>public.kern2.u</key>
      <integer>-2</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-7</integer>
      <key>public.kern2.l</key>
      <integer>-3</integer>
      <key>public.kern2.n</key>
      <integer>-7</integer>
      <key>public.kern2.o</key>
      <integer>-7</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-67</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-42</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-2</integer>
      <key>public.kern2.A</key>
      <integer>-7</integer>
      <key>public.kern2.T</key>
      <integer>-17</integer>
      <key>public.kern2.g</key>
      <integer>-33</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-2</integer>
      <key>public.kern2.s</key>
      <integer>-67</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>-27</integer>
      <key>public.kern2.v</key>
      <integer>-67</integer>
      <key>public.kern2.w</key>
      <integer>-58</integer>
      <key>public.kern2.y</key>
      <integer>-93</integer>
      <key>public.kern2.z</key>
      <integer>-77</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-13</integer>
      <key>public.kern2.A</key>
      <integer>-3</integer>
      <key>public.kern2.O</key>
      <integer>-7</integer>
      <key>public.kern2.g</key>
      <integer>-18</integer>
      <key>public.kern2.n</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-18</integer>
      <key>public.kern2.s</key>
      <integer>-22</integer>
      <key>public.kern2.u</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-28</integer>
      <key>public.kern2.z</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-13</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.V</key>
      <integer>-18</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-13</integer>
      <key>public.kern2.Y</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
      <key>public.kern2.j</key>
      <integer>17</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-17</integer>
      <key>public.kern2.Y</key>
      <integer>-42</integer>
      <key>public.kern2.j</key>
      <integer>23</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-52</integer>
      <key>public.kern2.Y</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-38</integer>
      <key>public.kern2.Y</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.V</key>
      <integer>-18</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-2</integer>
      <key>public.kern2.T</key>
      <integer>-48</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.uhorn</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-42</integer>
      <key>public.kern2.n</key>
      <integer>-12</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.V</key>
      <integer>-3</integer>
      <key>public.kern2.Y</key>
      <integer>-38</integer>
      <key>public.kern2.j</key>
      <integer>23</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
    </dict>
  </dict>
</plist>
