<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-28</integer>
      <key>X</key>
      <integer>-15</integer>
      <key>Y</key>
      <integer>-85</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-63</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>I</key>
      <integer>-2</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>W</key>
      <integer>-65</integer>
      <key>X</key>
      <integer>-68</integer>
      <key>Y</key>
      <integer>-94</integer>
      <key>public.kern2.T</key>
      <integer>-65</integer>
      <key>public.kern2.V</key>
      <integer>-91</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-13</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>W</key>
      <integer>-23</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-53</integer>
      <key>public.kern2.V</key>
      <integer>-37</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>-15</integer>
      <key>S</key>
      <integer>-30</integer>
      <key>itilde</key>
      <integer>8</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-86</integer>
      <key>N</key>
      <integer>-45</integer>
      <key>S</key>
      <integer>-68</integer>
      <key>g</key>
      <integer>-75</integer>
      <key>icircumflex</key>
      <integer>23</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.H</key>
      <integer>-23</integer>
      <key>public.kern2.O</key>
      <integer>-82</integer>
      <key>public.kern2.j</key>
      <integer>-45</integer>
      <key>public.kern2.n</key>
      <integer>-86</integer>
      <key>public.kern2.o</key>
      <integer>-86</integer>
      <key>public.kern2.u</key>
      <integer>-86</integer>
      <key>s</key>
      <integer>-98</integer>
      <key>v</key>
      <integer>-68</integer>
      <key>w</key>
      <integer>-68</integer>
      <key>x</key>
      <integer>-105</integer>
      <key>z</key>
      <integer>-98</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>T</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-53</integer>
      <key>itilde</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-53</integer>
      <key>x</key>
      <integer>-23</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>hbar</key>
      <integer>12</integer>
    </dict>
    <key>Hbar</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-8</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>X</key>
      <integer>-23</integer>
      <key>h</key>
      <integer>-2</integer>
      <key>period</key>
      <integer>-8</integer>
      <key>public.kern2.g</key>
      <integer>-8</integer>
      <key>public.kern2.i</key>
      <integer>-8</integer>
      <key>public.kern2.j</key>
      <integer>-8</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.s</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-34</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.y</key>
      <integer>-8</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-8</integer>
      <key>z</key>
      <integer>-67</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>U</key>
      <integer>-53</integer>
      <key>Y</key>
      <integer>-46</integer>
      <key>g</key>
      <integer>-45</integer>
      <key>public.kern2.O</key>
      <integer>-45</integer>
      <key>public.kern2.T</key>
      <integer>-37</integer>
      <key>public.kern2.U</key>
      <integer>-45</integer>
      <key>public.kern2.V</key>
      <integer>-61</integer>
      <key>public.kern2.Y</key>
      <integer>-1</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.u</key>
      <integer>-45</integer>
      <key>public.kern2.y</key>
      <integer>-53</integer>
      <key>w</key>
      <integer>-45</integer>
      <key>z</key>
      <integer>-45</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-170</integer>
      <key>Y</key>
      <integer>-112</integer>
      <key>public.kern2.T</key>
      <integer>-122</integer>
      <key>public.kern2.U</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-112</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-17</integer>
    </dict>
    <key>Ohorn</key>
    <dict>
      <key>h</key>
      <integer>-1</integer>
      <key>public.kern2.n</key>
      <integer>-1</integer>
      <key>public.kern2.o</key>
      <integer>-1</integer>
      <key>public.kern2.u</key>
      <integer>-1</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>period</key>
      <integer>-17</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>T</key>
      <integer>-38</integer>
      <key>U</key>
      <integer>-15</integer>
      <key>X</key>
      <integer>-15</integer>
      <key>Y</key>
      <integer>-78</integer>
      <key>itilde</key>
      <integer>-37</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.U</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.Y</key>
      <integer>-2</integer>
      <key>public.kern2.o</key>
      <integer>-11</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>s</key>
      <integer>-23</integer>
      <key>x</key>
      <integer>-8</integer>
      <key>z</key>
      <integer>-15</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>T</key>
      <integer>-15</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-68</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-4</integer>
      <key>x</key>
      <integer>-23</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-8</integer>
      <key>g</key>
      <integer>-48</integer>
      <key>public.kern2.H</key>
      <integer>-13</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.i</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-65</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-140</integer>
      <key>s</key>
      <integer>-50</integer>
      <key>z</key>
      <integer>-72</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>period</key>
      <integer>-17</integer>
      <key>quotedblleft</key>
      <integer>-5</integer>
    </dict>
    <key>Uhorn</key>
    <dict>
      <key>A</key>
      <integer>-68</integer>
      <key>public.kern2.n</key>
      <integer>-87</integer>
      <key>public.kern2.o</key>
      <integer>-87</integer>
      <key>public.kern2.u</key>
      <integer>-87</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-53</integer>
      <key>public.kern2.n</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-78</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>-37</integer>
      <key>S</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-45</integer>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-45</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.s</key>
      <integer>-45</integer>
      <key>public.kern2.u</key>
      <integer>-37</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-53</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
      <key>w</key>
      <integer>-53</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-82</integer>
      <key>N</key>
      <integer>-30</integer>
      <key>S</key>
      <integer>-68</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-8</integer>
      <key>public.kern2.O</key>
      <integer>-37</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.j</key>
      <integer>-22</integer>
      <key>public.kern2.n</key>
      <integer>-81</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-112</integer>
      <key>public.kern2.u</key>
      <integer>-63</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.y</key>
      <integer>-85</integer>
      <key>public.kern2.z</key>
      <integer>-120</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-8</integer>
      <key>public.kern2.i</key>
      <integer>-2</integer>
      <key>public.kern2.j</key>
      <integer>-2</integer>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.y</key>
      <integer>-8</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-7</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-47</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-13</integer>
      <key>x</key>
      <integer>-18</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>135</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>113</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>113</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>S</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-53</integer>
      <key>Z</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>A</key>
      <integer>-78</integer>
      <key>braceright</key>
      <integer>8</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.H</key>
      <integer>-2</integer>
      <key>public.kern2.O</key>
      <integer>-47</integer>
      <key>public.kern2.g</key>
      <integer>-135</integer>
      <key>public.kern2.i</key>
      <integer>-55</integer>
      <key>public.kern2.n</key>
      <integer>-135</integer>
      <key>public.kern2.o</key>
      <integer>-145</integer>
      <key>public.kern2.u</key>
      <integer>-145</integer>
      <key>public.kern2.v</key>
      <integer>-135</integer>
      <key>public.kern2.y</key>
      <integer>-135</integer>
      <key>public.kern2.z</key>
      <integer>-135</integer>
      <key>question</key>
      <integer>-53</integer>
      <key>x</key>
      <integer>-90</integer>
    </dict>
    <key>dcroat</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>45</integer>
      <key>public.kern2.V</key>
      <integer>45</integer>
      <key>public.kern2.Y</key>
      <integer>45</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Y</key>
      <integer>-98</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-37</integer>
    </dict>
    <key>ecircumflexdotbelow</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>ecircumflexhookabove</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
    </dict>
    <key>ecircumflextilde</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
    </dict>
    <key>edblgrave</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-17</integer>
    </dict>
    <key>ehookabove</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>icircumflex</key>
      <integer>23</integer>
      <key>public.kern2.apostrophe</key>
      <integer>8</integer>
      <key>public.kern2.j</key>
      <integer>1</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-23</integer>
    </dict>
    <key>franc</key>
    <dict>
      <key>seven</key>
      <integer>41</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>X</key>
      <integer>-37</integer>
      <key>Y</key>
      <integer>-37</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>backslash</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-98</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>30</integer>
    </dict>
    <key>ibreve</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>23</integer>
      <key>public.kern2.Y</key>
      <integer>23</integer>
    </dict>
    <key>icircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>52</integer>
      <key>public.kern2.V</key>
      <integer>37</integer>
      <key>public.kern2.Y</key>
      <integer>37</integer>
    </dict>
    <key>idblgrave</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>23</integer>
      <key>public.kern2.V</key>
      <integer>45</integer>
      <key>public.kern2.Y</key>
      <integer>8</integer>
    </dict>
    <key>idieresis</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>7</integer>
      <key>public.kern2.V</key>
      <integer>45</integer>
      <key>public.kern2.Y</key>
      <integer>37</integer>
    </dict>
    <key>iinvertedbreve</key>
    <dict>
      <key>T</key>
      <integer>3</integer>
      <key>public.kern2.T</key>
      <integer>8</integer>
    </dict>
    <key>imacron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>27</integer>
      <key>public.kern2.Y</key>
      <integer>53</integer>
    </dict>
    <key>iogonek</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>143</integer>
    </dict>
    <key>itilde</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>8</integer>
    </dict>
    <key>jcircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>23</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>U</key>
      <integer>-23</integer>
      <key>public.kern2.O</key>
      <integer>-23</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-2</integer>
      <key>z</key>
      <integer>-23</integer>
    </dict>
    <key>kgreenlandic</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-62</integer>
      <key>public.kern2.Y</key>
      <integer>-65</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>Y</key>
      <integer>-83</integer>
      <key>g</key>
      <integer>-2</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-98</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-5</integer>
      <key>public.kern2.j</key>
      <integer>-2</integer>
      <key>public.kern2.l</key>
      <integer>-2</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>23</integer>
    </dict>
    <key>lcommaaccent</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.j</key>
      <integer>45</integer>
    </dict>
    <key>ldot</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>68</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
    </dict>
    <key>ohorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>113</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-17</integer>
      <key>public.kern2.V</key>
      <integer>-17</integer>
      <key>public.kern2.Y</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>U</key>
      <integer>-23</integer>
      <key>Y</key>
      <integer>-63</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-2</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
      <key>slash</key>
      <integer>8</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-5</integer>
      <key>quotedblleft</key>
      <integer>-17</integer>
      <key>s</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>S</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-37</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-37</integer>
      <key>t</key>
      <integer>-37</integer>
      <key>x</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>S</key>
      <integer>-8</integer>
      <key>T</key>
      <integer>-13</integer>
      <key>Y</key>
      <integer>-10</integer>
      <key>iinvertedbreve</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-2</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-70</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-83</integer>
      <key>question</key>
      <integer>-68</integer>
      <key>quotedblleft</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>V</key>
      <integer>-53</integer>
      <key>X</key>
      <integer>-45</integer>
      <key>Y</key>
      <integer>-37</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>abreve</key>
      <integer>-55</integer>
      <key>ebreve</key>
      <integer>-10</integer>
      <key>ecaron</key>
      <integer>-58</integer>
      <key>ecircumflextilde</key>
      <integer>-13</integer>
      <key>edblgrave</key>
      <integer>-5</integer>
      <key>egrave</key>
      <integer>-58</integer>
      <key>ehookabove</key>
      <integer>-13</integer>
      <key>eth</key>
      <integer>-58</integer>
      <key>icircumflex</key>
      <integer>52</integer>
      <key>idblgrave</key>
      <integer>23</integer>
      <key>idieresis</key>
      <integer>7</integer>
      <key>ihookabove</key>
      <integer>-2</integer>
      <key>iinvertedbreve</key>
      <integer>8</integer>
      <key>imacron</key>
      <integer>27</integer>
      <key>jcircumflex</key>
      <integer>-8</integer>
      <key>lslash</key>
      <integer>-8</integer>
      <key>period</key>
      <integer>-17</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.y</key>
      <integer>-140</integer>
      <key>public.kern2.z</key>
      <integer>-65</integer>
      <key>rcaron</key>
      <integer>-20</integer>
      <key>scaron</key>
      <integer>-40</integer>
      <key>ubreve</key>
      <integer>-8</integer>
      <key>ucircumflex</key>
      <integer>-13</integer>
      <key>udblgrave</key>
      <integer>0</integer>
      <key>ugrave</key>
      <integer>-128</integer>
      <key>uhookabove</key>
      <integer>-13</integer>
      <key>uhorngrave</key>
      <integer>-8</integer>
      <key>uhornhookabove</key>
      <integer>-13</integer>
      <key>uhungarumlaut</key>
      <integer>-13</integer>
      <key>uinvertedbreve</key>
      <integer>-15</integer>
      <key>uring</key>
      <integer>-13</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>ygrave</key>
      <integer>-132</integer>
      <key>yhookabove</key>
      <integer>-15</integer>
      <key>zcaron</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>X</key>
      <integer>-15</integer>
      <key>hbar</key>
      <integer>12</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-68</integer>
      <key>public.kern2.O</key>
      <integer>-68</integer>
      <key>public.kern2.y</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>N</key>
      <integer>-30</integer>
      <key>S</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-78</integer>
      <key>hbar</key>
      <integer>23</integer>
      <key>ibreve</key>
      <integer>23</integer>
      <key>icircumflex</key>
      <integer>37</integer>
      <key>idblgrave</key>
      <integer>60</integer>
      <key>idieresis</key>
      <integer>45</integer>
      <key>imacron</key>
      <integer>37</integer>
      <key>itilde</key>
      <integer>8</integer>
      <key>jcircumflex</key>
      <integer>23</integer>
      <key>lslash</key>
      <integer>-8</integer>
      <key>period</key>
      <integer>-17</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-47</integer>
      <key>public.kern2.n</key>
      <integer>-47</integer>
      <key>public.kern2.o</key>
      <integer>-47</integer>
      <key>public.kern2.s</key>
      <integer>-63</integer>
      <key>public.kern2.u</key>
      <integer>-78</integer>
      <key>public.kern2.v</key>
      <integer>-2</integer>
      <key>public.kern2.w</key>
      <integer>-23</integer>
      <key>public.kern2.y</key>
      <integer>-92</integer>
      <key>public.kern2.z</key>
      <integer>-75</integer>
      <key>s</key>
      <integer>-55</integer>
      <key>uhorngrave</key>
      <integer>-75</integer>
      <key>v</key>
      <integer>-33</integer>
      <key>w</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-82</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ebreve</key>
      <integer>-90</integer>
      <key>ecircumflextilde</key>
      <integer>-8</integer>
      <key>ehookabove</key>
      <integer>-10</integer>
      <key>hbar</key>
      <integer>30</integer>
      <key>ibreve</key>
      <integer>23</integer>
      <key>icircumflex</key>
      <integer>37</integer>
      <key>idblgrave</key>
      <integer>45</integer>
      <key>idieresis</key>
      <integer>37</integer>
      <key>imacron</key>
      <integer>53</integer>
      <key>jcircumflex</key>
      <integer>15</integer>
      <key>period</key>
      <integer>-17</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.w</key>
      <integer>-45</integer>
      <key>public.kern2.y</key>
      <integer>-60</integer>
      <key>scaron</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>Y</key>
      <integer>-67</integer>
      <key>Z</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>hbar</key>
      <integer>12</integer>
      <key>x</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-108</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.j</key>
      <integer>75</integer>
      <key>questiondown</key>
      <integer>-23</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>T</key>
      <integer>-13</integer>
      <key>Z</key>
      <integer>-2</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>Z</key>
      <integer>-2</integer>
      <key>florin</key>
      <integer>8</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
      <key>public.kern2.j</key>
      <integer>105</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>Y</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-58</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>Hbar</key>
      <integer>-8</integer>
      <key>S</key>
      <integer>-11</integer>
      <key>T</key>
      <integer>-42</integer>
      <key>V</key>
      <integer>-47</integer>
      <key>X</key>
      <integer>-8</integer>
      <key>Y</key>
      <integer>-100</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>Hbar</key>
      <integer>-8</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-58</integer>
      <key>V</key>
      <integer>-70</integer>
      <key>X</key>
      <integer>-37</integer>
      <key>Y</key>
      <integer>-85</integer>
      <key>Z</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-98</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>U</key>
      <integer>-8</integer>
      <key>parenright</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-42</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-68</integer>
      <key>question</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.uhorn</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.n</key>
      <integer>-53</integer>
      <key>public.kern2.o</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <integer>-53</integer>
      <key>Y</key>
      <integer>-38</integer>
      <key>Z</key>
      <integer>-2</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>Y</key>
      <integer>-45</integer>
      <key>Z</key>
      <integer>-2</integer>
      <key>florin</key>
      <integer>8</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-67</integer>
      <key>public.kern2.j</key>
      <integer>105</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>Y</key>
      <integer>-105</integer>
      <key>Z</key>
      <integer>-2</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>X</key>
      <integer>-68</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-37</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>X</key>
      <integer>-45</integer>
      <key>Y</key>
      <integer>-98</integer>
      <key>Z</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-53</integer>
      <key>z</key>
      <integer>-8</integer>
    </dict>
    <key>scaron</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-45</integer>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-68</integer>
      <key>Z</key>
      <integer>-2</integer>
    </dict>
    <key>tcedilla</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-42</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-68</integer>
      <key>public.kern2.j</key>
      <integer>60</integer>
    </dict>
    <key>tcommaaccent</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-68</integer>
      <key>public.kern2.j</key>
      <integer>23</integer>
    </dict>
    <key>uacute</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>ubreve</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
    </dict>
    <key>ucircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>udblgrave</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
    </dict>
    <key>uhookabove</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
    </dict>
    <key>uhorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-45</integer>
      <key>public.kern2.o</key>
      <integer>-37</integer>
      <key>public.kern2.u</key>
      <integer>-4</integer>
    </dict>
    <key>uhungarumlaut</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-2</integer>
    </dict>
    <key>uinvertedbreve</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>120</integer>
    </dict>
    <key>uring</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>X</key>
      <integer>-53</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>Y</key>
      <integer>-60</integer>
      <key>Z</key>
      <integer>-1</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-37</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-53</integer>
    </dict>
    <key>yacute</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>yhookabove</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.u</key>
      <integer>0</integer>
    </dict>
    <key>zacute</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
    </dict>
    <key>zcaron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
    </dict>
  </dict>
</plist>
