<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.V</key>
      <integer>-63</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-2</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-2</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.apostrophe</key>
      <integer>-83</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-8</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.y</key>
      <integer>-140</integer>
      <key>public.kern2.z</key>
      <integer>-65</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-68</integer>
      <key>public.kern2.O</key>
      <integer>-68</integer>
      <key>public.kern2.y</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-47</integer>
      <key>public.kern2.n</key>
      <integer>-47</integer>
      <key>public.kern2.o</key>
      <integer>-47</integer>
      <key>public.kern2.s</key>
      <integer>-63</integer>
      <key>public.kern2.u</key>
      <integer>-78</integer>
      <key>public.kern2.v</key>
      <integer>-2</integer>
      <key>public.kern2.w</key>
      <integer>-23</integer>
      <key>public.kern2.y</key>
      <integer>-92</integer>
      <key>public.kern2.z</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.w</key>
      <integer>-45</integer>
      <key>public.kern2.y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-108</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.j</key>
      <integer>75</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-13</integer>
      <key>public.kern2.j</key>
      <integer>105</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-58</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-67</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-47</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-47</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-98</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-42</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-68</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.uhorn</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-13</integer>
      <key>public.kern2.n</key>
      <integer>-53</integer>
      <key>public.kern2.o</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-67</integer>
      <key>public.kern2.j</key>
      <integer>105</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
    </dict>
  </dict>
</plist>
