<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>W</key>
      <integer>-85</integer>
      <key>X</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>W</key>
      <integer>-30</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>-40</integer>
      <key>itilde</key>
      <integer>10</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-115</integer>
      <key>N</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.j</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-115</integer>
      <key>public.kern2.u</key>
      <integer>-115</integer>
      <key>s</key>
      <integer>-130</integer>
      <key>v</key>
      <integer>-90</integer>
      <key>w</key>
      <integer>-90</integer>
      <key>x</key>
      <integer>-140</integer>
      <key>z</key>
      <integer>-130</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>itilde</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>hbar</key>
      <integer>16</integer>
    </dict>
    <key>Hbar</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>z</key>
      <integer>-80</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>U</key>
      <integer>-70</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-70</integer>
      <key>w</key>
      <integer>-60</integer>
      <key>z</key>
      <integer>-60</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-200</integer>
      <key>Y</key>
      <integer>-140</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>S</key>
      <integer>-50</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>U</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-100</integer>
      <key>itilde</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-90</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-40</integer>
      <key>z</key>
      <integer>-70</integer>
    </dict>
    <key>Uhorn</key>
    <dict>
      <key>A</key>
      <integer>-90</integer>
      <key>public.kern2.n</key>
      <integer>-115</integer>
      <key>public.kern2.o</key>
      <integer>-115</integer>
      <key>public.kern2.u</key>
      <integer>-115</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>-50</integer>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-80</integer>
      <key>w</key>
      <integer>-70</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-110</integer>
      <key>N</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-120</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-95</integer>
      <key>public.kern2.o</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-140</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
      <key>public.kern2.y</key>
      <integer>-100</integer>
      <key>public.kern2.z</key>
      <integer>-150</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-25</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>180</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>150</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>150</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>S</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-180</integer>
      <key>public.kern2.i</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-180</integer>
      <key>public.kern2.o</key>
      <integer>-180</integer>
      <key>public.kern2.u</key>
      <integer>-180</integer>
      <key>public.kern2.v</key>
      <integer>-180</integer>
      <key>public.kern2.y</key>
      <integer>-180</integer>
      <key>public.kern2.z</key>
      <integer>-180</integer>
      <key>question</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-120</integer>
    </dict>
    <key>dcroat</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>60</integer>
      <key>public.kern2.V</key>
      <integer>60</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Y</key>
      <integer>-120</integer>
      <key>x</key>
      <integer>-80</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-30</integer>
    </dict>
    <key>franc</key>
    <dict>
      <key>seven</key>
      <integer>55</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-130</integer>
      <key>public.kern2.Y</key>
      <integer>-160</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>40</integer>
    </dict>
    <key>ibreve</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
    </dict>
    <key>icircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>50</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
    </dict>
    <key>idblgrave</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>60</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
    </dict>
    <key>idieresis</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>60</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
    </dict>
    <key>iinvertedbreve</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
    </dict>
    <key>imacron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>35</integer>
      <key>public.kern2.Y</key>
      <integer>70</integer>
    </dict>
    <key>iogonek</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>190</integer>
    </dict>
    <key>itilde</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>10</integer>
    </dict>
    <key>jcircumflex</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>30</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>U</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>kgreenlandic</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>Y</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>30</integer>
    </dict>
    <key>lcommaaccent</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.j</key>
      <integer>60</integer>
    </dict>
    <key>ldot</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>100</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>0</integer>
    </dict>
    <key>ohorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>U</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>s</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>t</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>S</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.apostrophe</key>
      <integer>-100</integer>
      <key>question</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>V</key>
      <integer>-70</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>ecaron</key>
      <integer>-60</integer>
      <key>icircumflex</key>
      <integer>80</integer>
      <key>idblgrave</key>
      <integer>30</integer>
      <key>idieresis</key>
      <integer>30</integer>
      <key>iinvertedbreve</key>
      <integer>10</integer>
      <key>imacron</key>
      <integer>36</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
      <key>scaron</key>
      <integer>-40</integer>
      <key>ugrave</key>
      <integer>-40</integer>
      <key>ygrave</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>hbar</key>
      <integer>16</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-90</integer>
      <key>public.kern2.y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>N</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>hbar</key>
      <integer>30</integer>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>50</integer>
      <key>idblgrave</key>
      <integer>80</integer>
      <key>idieresis</key>
      <integer>60</integer>
      <key>imacron</key>
      <integer>50</integer>
      <key>itilde</key>
      <integer>10</integer>
      <key>jcircumflex</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-100</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-120</integer>
      <key>public.kern2.z</key>
      <integer>-100</integer>
      <key>s</key>
      <integer>-70</integer>
      <key>uhorngrave</key>
      <integer>-100</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-80</integer>
      <key>z</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ebreve</key>
      <integer>-120</integer>
      <key>hbar</key>
      <integer>40</integer>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>50</integer>
      <key>idblgrave</key>
      <integer>60</integer>
      <key>idieresis</key>
      <integer>50</integer>
      <key>imacron</key>
      <integer>70</integer>
      <key>jcircumflex</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.w</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-80</integer>
      <key>scaron</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>hbar</key>
      <integer>16</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>100</integer>
      <key>questiondown</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>florin</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>Y</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>Hbar</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>Hbar</key>
      <integer>-10</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>X</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>U</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>Y</key>
      <integer>-50</integer>
      <key>florin</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <integer>140</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>Y</key>
      <integer>-130</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>X</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-130</integer>
      <key>x</key>
      <integer>-70</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>scaron</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-60</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-90</integer>
    </dict>
    <key>tcedilla</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.j</key>
      <integer>80</integer>
    </dict>
    <key>tcommaaccent</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.j</key>
      <integer>30</integer>
    </dict>
    <key>uhorn</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>160</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>Y</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-70</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.u</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
